.site-footer__top {
  display: flex;
  justify-content: space-between;
  padding-top: 128px;
}

.site-footer__top-title {
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.site-footer__top-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-footer__top-item {
  margin-bottom: 16px;
}

.site-footer__top-link {
  text-decoration: none;
  font-family: 'Open Sans', Arial , sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #6A983C;
}